:root {
  --dourado-100: #D9BB62;
  --dourado-200: #D9B166;
  --dourado-300: #BF9A56;

  --withe: #FFFFFF;
  --black: #000000;
}
body{
    margin: 0;
    padding: 0;
}
.topo{
    border: 1px solid red;
    width: 100%;
    height: 10px;
}
