@font-face {
    font-family: 'Inter';
    src: url(../font/Inter.ttf);
}

:root {
  --dourado-100: #D9BB62;
  --dourado-200: #D9B166;
  --dourado-300: #BF9A56;
  --cinza-400: #D9D9D9;
  --withe: #FFFFFF;
  --black: #000000;
  --interRegular: 'Inter';
  --interBold: 'Inter';
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

/* * {
  outline: 1px solid limegreen;
} */

/* Inicio */

header{
  background-color: #000;
  height: 140px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.imagem-responsiva{
  width: 140px;
  height: 140px;
  background-image: url(../img/logo.png);
  background-size: cover;
}

header img{
  width: 11rem;
  height: 11rem;
  margin-left: 60px;
  left: 60px;
}

ul{
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 60px;
}

a{
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--dourado-100);
}
a:hover{
  color: var(--dourado-300);
  cursor: pointer;
  transition: 0.1s;
}

/* slides */

.slider {
  margin: 50px auto;
  width: 1200px;
  height: 608px;
  overflow: hidden;
}

.slides {
  width: 400%;
  height: 620px;
  display: flex;
}
.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
}

.slide img {
  width: 1200px ;
  height: 608px;
}

.manual-navigation {
  position: absolute;
  width: 1200px;
  top: 107%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manual-btn {
  border: 2px solid var(--dourado-100);
  width: 50px;
  padding: 3px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:hover {
  background: var(--withe);
}

.manual-btn:not(:last-child){
  margin-right: 8px;
}

#radio:checked ~ .first{
  margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: -25%;
}
#radio3:checked ~ .first{
  margin-left: -50%;
}

.navigation-auto div{
  border: 2px solid var(--dourado-300);
  width: 50px;
  padding: 3px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto {
  position: absolute;
  top: 107%;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-auto div:not(:last-child){
  margin-right: 8px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: var(--withe);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: var(--withe);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color: var(--withe);
}

/* saiba mais */
.saiba{
  padding-top:30px ;
  text-align: center;
  margin: auto;
  height:100px ;
}
.linha{
  border: 2px solid var(--dourado-100);
  border-radius: 8px;
  width: 928px;
  margin: auto;
  margin-top: 20px;
}

/* cartoes */

.cartoes{
  display: flex;
  justify-content: space-evenly;
  gap: 8px;
  margin: auto;
  margin-top: 50px;
  width: 1340px;
  height: 500px;
  margin-bottom: 100px;
}
.informacoes {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: 1px solid var(--cinza-400);
  border-radius: 25px;
  width: 390px;
  height: 500px;
}

.informacoes img {
  padding-top: 25px;
  padding-left: 70px;
  padding-right: 70px;
  width: 250px;
  height: 306px;
}

.informacoes p {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.47); /* corrigido para uso padrão de RGBA */
  font-weight: bold;
}

/* BOTÃO-LINK "CONFIRA" */
.confira {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
  height: 60px;
  font-size: 1.5rem;
  background: var(--dourado-100);
  border-radius: 40px;
  color: var(--black);
  font-family: var(--interBold);
  text-decoration: none;
  transition: background 0.2s ease;
}

.confira:hover {
  color: var(--black);
  background: var(--dourado-300);
  cursor: pointer;
}

/* Ícone dentro do botão */
.confira i {
  font-size: 30px;
  margin-top: 8px;
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.animated-arrow {
  display: inline-block;
  animation: slideRight 0.6s ease-in-out infinite alternate;
}
/* footer */

footer{
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dourado-100);
  background-color: #000;
  height: 120px;
  font-size: 1.2rem;
}

footer p{
    font-size: 1.1rem;
    font-weight: bold;
    font-family: var(--interRegular);
    color: var(--dourado-100);
}

@keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(8px);
  }
};
