@font-face {
    font-family: 'Inter';
    src: url(../font/Inter.ttf);
}

:root {
  --dourado-100: #D9BB62;
  --dourado-200: #D9B166;
  --dourado-300: #BF9A56;
  --cinza-400: #D9D9D9;
  --withe: #FFFFFF;
  --black: #000000;
  --interRegular: 'Inter';
  --interBold: 'Inter';
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

/* * {
  outline: 1px solid limegreen;
} */

/* Inicio */

header{
  background-color: #000;
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

header img{
  width: 11rem;
  height: 11rem;
  margin-left: 60px;
  left: 60px;
}

ul{
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 60px;
}

a{
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--dourado-100);
}
a:hover{
  color: var(--dourado-300);
  cursor: pointer;
  transition: 0.1s;
}

/* imagens */

.slide {
  display: flex;
  justify-content: center;
  padding: 50px 75px;
}

.image-container {
  position: relative;
  max-width: 100%;
  width: 100%;
  max-width: 1340px;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.image-container h1 {
  position: absolute;
  bottom: 10%;
  width: 97%;
  margin: 0;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0); /* transparente */
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
}

#prev, #next {
  display: none;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: #eee9;
  border: 1px solid #eee9;
  color: var(--withe);
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}

#prev {
  left: 20px;
}

#next {
  right: 20px;
}

.image-container:hover #prev,
.image-container:hover #next {
  display: block;
  transition: 0.1s;
}

/* saiba mais */
.saiba{
  padding-top:30px ;
  text-align: center;
  margin: auto;
  height:100px ;
}
.linha{
  border: 2px solid var(--dourado-100);
  border-radius: 8px;
  width: 928px;
  margin: auto;
  margin-top: 20px;
}

/* cartoes */

.cartoes{
  display: flex;
  justify-content: space-evenly;
  gap: 8px;
  margin: auto;
  margin-top: 50px;
  width: 1340px;
  height: 500px;
  margin-bottom: 100px;
}
.informacoes {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: 1px solid var(--cinza-400);
  border-radius: 25px;
  width: 390px;
  height: 500px;
}

.informacoes img {
  padding-top: 25px;
  padding-left: 70px;
  padding-right: 70px;
  width: 250px;
  height: 306px;
}

.informacoes p {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.47); /* corrigido para uso padrão de RGBA */
  font-weight: bold;
}

/* BOTÃO-LINK "CONFIRA" */
.confira {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
  height: 60px;
  font-size: 1.5rem;
  background: var(--dourado-100);
  border-radius: 40px;
  color: var(--black);
  font-family: var(--interBold);
  text-decoration: none;
  transition: background 0.2s ease;
}

.confira:hover {
  color: var(--black);
  background: var(--dourado-300);
  cursor: pointer;
}

/* Ícone dentro do botão */
.confira i {
  font-size: 30px;
  margin-top: 8px;
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.animated-arrow {
  display: inline-block;
  animation: slideRight 0.6s ease-in-out infinite alternate;
}
/* footer */

footer{
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dourado-100);
  background-color: #000;
  height: 120px;
  font-size: 1.2rem;
}

footer p{
    font-size: 1.1rem;
    font-weight: bold;
    font-family: var(--interRegular);
    color: var(--dourado-100);
}

@keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(8px);
  }
};
