@import url(index.css);

.imagem-responsiva, .menu-responsivo{
    display: none;
}

nav, ul, a{
    display: flex;
}

header{
    background-color: #000;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    color: var(--dourado-100);
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    transition: 0.1s;
}

a:hover{
    color: var(--dourado-300);
    transition: 0.1s;
}

:root {
  --dourado-100: #D9BB62;
  --dourado-200: #D9B166;
  --dourado-300: #BF9A56;
  --withe: #FFFFFF;
  --black: #000000;
  --interRegular: 'Inter';
  --interBold: 'Inter';
}

main{
    width: 100%;
    height: 200vh;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.secao-informacao{
    width: 100%;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.informacao{
    width: 65rem;
    height: 250px;
    border-radius: 25px;
    border: 2px solid var(--dourado-300);
    animation: animacao-opacidade 1s normal;
}

.icone-titulo{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 15px 0px 0px 0px;
    border-radius: 25px 25px 0px 0px;
    /* border: 1px solid red; */
}

.icone{
    width: 60px;
    height: 60px;
    color: #000;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: animacao-opacidade 1s normal;
    margin: -1px 0px 0px 44px;
    /* border: 1px solid red; */
}

.titulo{
    font-size: 1.6rem;
    font-family: var(--interBold);
    margin-left: 10px;
}

.descricao-titulo{
    /* border: 1px solid red; */
    font-family: var(--interRegular);
    font-size: 1.4rem;
    width: 90%;
    margin: 10px 0px 0px 60px;
}

.secao-valores{
    width: 100%;
    height: 350px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.valores{
    width: 65rem;
    height: 50px;
    border-radius: 25px;
    border: 2px solid var(--dourado-300);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: animacao-opacidade 0.5s normal;
}

#topicos-valores{
    width: 65rem;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    /* border: 1px solid red; */
}

.topico{
    font-family: var(--interRegular);
    width: 30rem;
    margin: 20px 0px 20px 20px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: 2px solid var(--dourado-300);
    animation: animacao-opacidade 1s normal;

}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    height: 120px;
}

footer p{
    font-size: 1.1rem;
    font-weight: bold;
    font-family: var(--interRegular);
    color: var(--dourado-100);
}

@keyframes animacao-opacidade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}